<!DOCTYPE html>
<html>
  <head>
    <title>Caffine at Boost</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="page <%= controller_name %>">

    <% if signed_in? %>
      <div class="top-bar">
        <div class="top-bar-left">
          <ul class="menu">
            <%= image_tag 'logo.svg', class: 'logo' %>
            <li class="menu-text">Caffine at Boost</li>
            <li><%= link_to 'New Order', new_order_path, class: 'button' %></li>
          </ul>
        </div>
        <div class="top-bar-right">
          <ul class="menu">
            <% if controller_name != 'sessions' %>
              <li><%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'button' %></li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>

    <div class="grid-container">
      <% if notice %>
        <div class="callout success">
          <p><%= notice %></p>
        </div>
      <% end %>
      <% if alert %>
        <div class="callout alert">
          <p><%= alert %></p>
        </div>
      <% end %>

      <%= yield %>
    </div>

    <div class="hidden divider">

  </body>
</html>
